.page {}

.breadcrumb {}

.pageHead {}

.statRow {}

.statValue {}

.tabRow {}

.tabBtn {}

.active {}

.categoryBlock {}

.cardGrid {}

.achievementCard {}

.earned {}

.cardHead {}

.cardBody {}

.reward {}

.date {}

.progressInfo {}

.highlightGrid {}

.highlightCard {}

.recentList {}

.recentItem {}
