.page {}

.profileHero {}

.container {}

.profileRow {}

.avatarBlock {}

.iconBtn {}

.profileInfo {}

.statRow {}

.statValue {}

.levelBar {}

.progress {}

.progressFill {}

.heroActions {}

.primaryBtn {}

.secondaryBtn {}

.section {}

.tabRow {}

.tabBtn {}

.active {}

.grid {}

.card {}

.cardHead {}

.linkBtn {}

.cardBody {}

.progressItem {}

.activityItem {}

.statGrid {}

.statCard {}

.goalItem {}

.goalProgress {}

.achievementGrid {}

.achievementCard {}

.earned {}

.courseGrid {}

.courseCard {}

.courseHead {}

.courseMeta {}

.courseActions {}

.filters {}

.timelineBlock {}

.timelineItem {}

.formGrid {}

.formField {}

.checkbox {}

.formActions {}
