.page {}

.section {}

.hero {}

.container {}

.heroGrid {}

.heroText {}

.heroStats {}

.statNumber {}

.primaryBtn {}

.codeCard {}

.codeHead {}

.codeDots {}

.codeBody {}

.sectionHead {}

.cardGrid {}

.courseCard {}

.locked {}

.courseHead {}

.courseIcon {}

.badge {}

.progress {}

.progressFill {}

.courseMeta {}

.lockedBtn {}

.taskCard {}

.taskHead {}

.hints {}

.achievementCard {}

.earned {}

.achievementHead {}

.modal {}

.modalHead {}

.modalBody {}

.avatarLarge {}

.rating {}

.contactList {}

.editorActions {}

.editor {}

.editorBar {}

.output {}

.outputHead {}

.outputBody {}

.themeToggle {}
