.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
}

.nav {
  display: flex;
}

.navLink {
}

.active {
}

.actions {
  display: flex;
}

.counter {
  display: flex;
}

.helpBtn {
}

.avatar {
}
