.page {}

.pageHead {}

.statRow {}

.statValue {}

.filterBar {}

.tabs {}

.tabBtn {}

.active {}

.filters {}

.filterField {}

.sectionHead {}

.dailyGoal {}

.goalChart {}

.goalText {}

.cardGrid {}

.taskCard {}

.taskHead {}

.hints {}

.tags {}

.taskFooter {}

.taskStats {}

.taskActions {}

.challengeMeta {}

.challengeGrid {}

.challengeCard {}

.featured {}

.metaRow {}

.extra {}

.primaryBtn {}

.projectCard {}

.projectMeta {}

.secondaryBtn {}

.categoryCard {}

.editorCard {}

.editorHead {}

.editorActions {}

.editorBody {}

.editorPane {}

.editorToolbar {}

.outputPane {}

.outputHead {}

.outputBody {}
