.page {}

.container {}

.breadcrumb {}

.pageHead {}

.statRow {}

.statValue {}

.filterBar {}

.tabs {}

.tabBtn {}

.active {}

.filterInputs {}

.search {}

.cardGrid {}

.courseCard {}

.locked {}

.courseHeader {}

.icon {}

.badge {}

.progressInfo {}

.metaList {}

.meta {}

.tags {}

.rating {}

.courseActions {}

.section {}

.detailGrid {}

.detailCard {}

.detailHead {}

.overview {}

.curriculum {}

.curriculumSection {}

.curriculumHead {}

.lesson {}

.reviewSummary {}

.breakdown {}

.breakdownRow {}

.reviewList {}

.reviewItem {}

.reviewHead {}
